<!DOCTYPE html>
<html ng-app="cookbook">
  <head>
    <title>CampNg - Cookbook App</title>

    <!-- Vendor Code -->
    <script type="text/javascript" src="vendor/jquery.js"></script>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-route.js"></script>
    <script type="text/javascript" src="vendor/angular-resource.js"></script>

    <!-- Application Code -->
    <script type="text/javascript" src="app/js/application.js"></script>
    <script type="text/javascript" src="app/js/controllers.js"></script>
    <script type="text/javascript" src="app/js/factories.js"></script>
    <script type="text/javascript" src="app/js/routes.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="app/css/application.css">
  </head>

  <body>
    <div class="header">
      <h1>Cookbook</h1>
    </div>

    <div class="group" ng-controller="RecipesCtrl">
      <nav class="recipe-list">
        <h2>My Recipes</h2>
        <a ng-repeat="recipe in recipes" href="#recipes/{{recipe.id}}">{{recipe.title}}</a>
      </nav>
      <section class="detail">
        <a href="#/recipes/new" class="button">New Recipe</a>
        <ng-view/>
      </section>
    </div>

    <script id="recipe-detail-template" type="text/template">
      <h1>{{currentRecipe.title}}</h1>
      <p>{{currentRecipe.description}}</p>
    </script>

    <script id="recipe-new-template" type="text/template">
      <form ng-submit="submit()">
        <p>
          <label>Title</label>
          <input ng-model="currentRecipe.title"></input>
        </p>
        <p>
          <label>Description</label>
          <textarea ng-model="currentRecipe.description"></textarea>
        </p>
        <button type="submit">Submit</button>
      </form>
    </script>
  </body>
</html>