<!DOCTYPE html>
<html ng-app="cookbook">
  <head>
    <title>CampNg - Cookbook App</title>

    <!-- Vendor Code -->
    <script type="text/javascript" src="vendor/jquery.js"></script>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-route.js"></script>
    <script type="text/javascript" src="vendor/angular-resource.js"></script>

    <!-- Application Code -->
    <script type="text/javascript" src="app/js/application.js"></script>
    <script type="text/javascript" src="app/js/controllers.js"></script>
    <script type="text/javascript" src="app/js/factories.js"></script>
    <script type="text/javascript" src="app/js/routes.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="app/css/application.css">
  </head>

  <body>
    <div class="header">
      <h1>Cookbook</h1>
    </div>

    <div class="group">
      <nav class="recipe-list" ng-controller="RecipesCtrl">
        <h2>My Recipes</h2>
        <input ng-model="query.title" placeholder="search..."/>
        <a ng-repeat="recipe in recipes | filter:query" href="#recipes/{{recipe.id}}">{{recipe.title}}</a>
      </nav>
      <section class="detail">
        <a href="#/recipes/new" class="button">New Recipe</a>
        <ng-view/>
      </section>
    </div>

    <script id="recipe-detail-template" type="text/template">
      <h1>{{currentRecipe.title}}</h1>
      <p>{{currentRecipe.description}}</p>
      <h3>Ingredients:</h3>
      <ul>
        <li ng-repeat="ingredient in currentRecipe.ingredients">
          {{ingredient.title}}
        </li>
      </ul>
    </script>

    <script id="recipe-new-template" type="text/template">
      <form ng-submit="submit()">
        <p>
          <label>Title</label>
          <input ng-model="currentRecipe.title"></input>
        </p>
        <p>
          <label>Description</label>
          <textarea ng-model="currentRecipe.description"></textarea>
        </p>

        <p>
          <label>Ingredients</label>
          <ul>
            <li ng-repeat="ingredient in currentRecipe.ingredients">
              <a class="icon" ng-click="removeIngredient(ingredient)">-</a>
              <span>{{ingredient.title}}</span>
            </li>
          </ul>
        </p>
        <p>
          <input ng-model="newIngredient.title"/>
          <a class="icon" ng-click="addIngredient(newIngredient)">+</a>
        </p>
        <button type="submit">Submit</button>
      </form>
    </script>
  </body>
</html>