*{
  box-sizing: border-box;
}

body{
  width: 960px;
  margin: 10px auto;
}

a{
  text-decoration: none;
  color: #428BCA;
}

label{
  display: block;
}

h1, h2, h3{
  font-weight: normal;
  margin-top: 0
}

rating{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 10px;
}

rating span{
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%
}

rating span:nth-child(1){ left: 0; }
rating span:nth-child(2){ left: 10px; }
rating span:nth-child(3){ left: 20px; }
rating span:nth-child(4){ left: 30px; }
rating span:nth-child(5){ left: 40px; }

rating .mask{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.button{
  display: inline-block;
  background: #F5F5F5;
  border: 1px solid #ddd;
  padding: 5px;
  float: right;
}

.icon{
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  background: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.header{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.header h1{
  margin: 0;
}

.recipe-list{
  width: 30%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.recipe-list h2{
  font-size: 16px;
  padding: 10px;
  margin: 0;
  background: #F5F5F5;
  border-bottom: 1px solid #ddd;
}

.recipe-list rating{
  float: right
}

.recipe-list input{
  display: block;
  margin: 10px auto;
  padding: 3px 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.recipe-list a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.recipe-list a:hover{
  background: #F5F5F5;
}

.detail{
  width: 70%;
  float: left;
  padding: 0 10px;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}