*{
  box-sizing: border-box;
}

body{
  width: 960px;
  margin: 10px auto;
}

a{
  text-decoration: none;
  color: #428BCA;
}

label{
  display: block;
}

h1, h2, h3{
  font-weight: normal;
  margin-top: 0
}

.button{
  display: inline-block;
  background: #F5F5F5;
  border: 1px solid #ddd;
  padding: 5px;
  float: right;
}

.header{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.header h1{
  margin: 0;
}

.recipe-list{
  width: 30%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.recipe-list h2{
  font-size: 16px;
  padding: 10px;
  margin: 0;
  background: #F5F5F5;
  border-bottom: 1px solid #ddd;
}

.recipe-list a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.recipe-list a:hover{
  background: #F5F5F5;
}

.detail{
  width: 70%;
  float: left;
  padding: 0 10px;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}